## Table of contents
1. [Required Libraries and versions](#Required-Libraries-and-verions)
2. [Data](#Data)

## Required Libraries and versions

- pandas
- Seaborn
- Seaborn

## Problem Description

[[go back to the top]](#Table-of-contents) 

A bank in Portugal have a goal of increasing the number of clients that subscribe to a term deposit by x %. One way they can do this is to identify different market segments within their existing user base. Knowledge of a client's market segment will help the bank's marketing managers to make informed decisions about marketing actions. 

Can we identify market segments using the available client data?

## Data

The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. 

The data has been available by Moro et al., 2014 and is available [here](http://archive.ics.uci.edu/ml/datasets/Bank+Marketing).

S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, Elsevier, 62:22-31, June 2014

### Attribute Information

1. Age
2. Job: type of job (categorical: 'admin','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')

## Problem Approach

We will focus on customers that were called once by the bank. The goal is to use cluster analysis to identify groups of customers of market segments. We will also evaluate the proportions of these market segments. It is inefficient to contact relatively small market segments. 

The data includes both continuous and categorical data. Hierarchical and k-means clustering techniques cannot be used with categorical data so we would need to make use of an alternative algorithm to be able to make use of the categorical customer variables.

## Problem Approach (2)

The analysis focussed on customers that were called once by the bank. The goal of the analysis was to identify groups of customers or market segments. The proportions of these market segments was also determined in order to make efficiency decisions i.e. it is inefficient to focus marketing efforts on relatively small segments. 

The data includes both continuous and categorical data. Hierarchical and k-means clustering techniques cannot be used with categorical data so an alternative algorithm was used to make use of the categorical customer variables.

## Data Management

In [2]:
# Import the required packages
import pandas as pd

In [3]:
# Import the data
# Note that the source file is semicolon-delimited
bank = pd.read_csv('bank.csv', sep=';')

In [12]:
# View a sample of the data
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [5]:
# View data structure
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB